# Compiled object files (C++)
*.o
BUILD

# Compiled class file (Java)
*.class

# Log file
*.log

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven #
/target/
*/target/

# Eclipse #
/.classpath
/.project
/.settings/
*/.classpath
*/.project
*/.settings/

# IntelliJ #
/.idea/
/*.iml

# Apple #
.DS_Store

# VIM editor #
.*.swp
