[submodule "extern/hpc_datastore_cpp"]
	path = extern/hpc_datastore_cpp
	url = git@github.com:somik861/hpc-datastore-cpp.git
[submodule "extern/mpi_wrapper"]
	path = extern/mpi_wrapper
	url = https://github.com/somik861/mpi_wrapper.git
[submodule "extern/timer"]
	path = extern/timer
	url = https://github.com/somik861/timer_help.git
