# Compiled C++ object files #
*.o
generated

# Various build folders #
VIZU
BUILD*
bin*
build*

# Log file, some documentation material #
*.log
doc/Mito*

# Apple #
.DS_Store

# VIM editor #
.*.swp

# CLION
.idea
cmake-build-*

# VSCode
.vscode
